<section id="parcoauto" wfd-id="211">
    <div class="container-fluid" wfd-id="212">
        <div class="row justify-content-center" wfd-id="213">
            <div class="col-xl-10" wfd-id="214">
                <div class="row" wfd-id="215">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-12" wfd-id="266">
                        <div class="descPA" wfd-id="267">
                            <p class="overTextMain">PARCO AUTO</p>
                            <h2 class="overTextMain">+3,000</h2>
                            <p class="overTextMain">VEICOLI</p>
                            <a href="" class="overBgEv">CERCA LA TUA AUTO</a>
                        </div>
                    </div>
                    <!-- MATLUI - LISTA ARTICOLI IN EVIDENZA 2 INIZIO-->
                    <div class="content">

                        <mat-tab-group mat-stretch-tabs>

                            <mat-tab>
                                <app-products-card [products]="listSandbox.carParkList$ | async"></app-products-card>
                            </mat-tab>


                        </mat-tab-group>

                    </div>
                    <!-- MATLUI - LISTA ARTICOLI IN EVIDENZA 2 FINE-->

                </div>
            </div>
        </div>
    </div>
</section>