                  * {
                      font-family: 'Poppins', sans-serif;
                      color: #333;
                      font-size: 22px;
                  }
                  
                  #singleAuto {
                      margin-top: 0px;
                      margin-bottom: 40px;
                  }
                  
                  .container-fluid {
                      width: 80%;
                      padding-right: 15px;
                      padding-left: 15px;
                      margin-right: auto;
                      margin-left: auto;
                  }
                  
                  .row {
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -ms-flex-wrap: wrap;
                      flex-wrap: wrap;
                      margin-right: -15px;
                      margin-left: -15px;
                  }
                  
                  @media (min-width: 1200px) {
                      .offset-xl-2 {
                          margin-left: 16.666667%;
                      }
                  }
                  
                  @media (min-width: 1200px) {
                      .col-xl-8 {
                          -webkit-box-flex: 0;
                          -ms-flex: 0 0 66.666667%;
                          flex: 0 0 66.666667%;
                          max-width: 66.666667%;
                      }
                  }
                  
                  @media (min-width: 992px) {
                      .offset-lg-1 {
                          margin-left: 8.333333%;
                      }
                  }
                  
                  @media (min-width: 992px) {
                      .col-lg-10 {
                          -webkit-box-flex: 0;
                          -ms-flex: 0 0 83.333333%;
                          flex: 0 0 83.333333%;
                          max-width: 83.333333%;
                      }
                  }
                  
                  @media (min-width: 768px) {
                      .offset-md-1 {
                          margin-left: 8.333333%;
                      }
                  }
                  
                  @media (min-width: 768px) {
                      .col-md-10 {
                          -webkit-box-flex: 0;
                          -ms-flex: 0 0 83.333333%;
                          flex: 0 0 83.333333%;
                          max-width: 83.333333%;
                      }
                      .offset-1 {
                          margin-left: 8.333333%;
                      }
                      .col-10 {
                          -webkit-box-flex: 0;
                          -ms-flex: 0 0 83.333333%;
                          flex: 0 0 83.333333%;
                          max-width: 83.333333%;
                      }
                      #singleAuto .rowTitle {
                          padding: 0;
                      }
                      .rowTitle {
                          padding: 30px 0;
                          border-bottom: 5px solid #ccc;
                          margin-bottom: 10px;
                      }
                      .align-items-center {
                          -webkit-box-align: center !important;
                          -ms-flex-align: center !important;
                          align-items: center !important;
                      }
                  }
                  
                  @media (min-width: 1200px) {
                      .col-xl-12 {
                          -webkit-box-flex: 0;
                          -ms-flex: 0 0 100%;
                          flex: 0 0 100%;
                          max-width: 100%;
                      }
                  }
                  
                  #singleAuto .rowTitle,
                  h2 {
                      font-weight: 800;
                  }
                  
                  p {
                      margin-top: 0;
                  }
                  
                  .sendLead,
                  .secLead {
                      background: #f2f2f2;
                      padding: 30px 0;
                      position: relative;
                  }
                  
                  .titleLead h3,
                  .secLead .titleLead p {
                      text-align: center;
                      width: 100%;
                  }
                  
                  .personal-data {
                      display: flex;
                      border: none;
                      height: 45px;
                      width: 90%;
                      margin-right: 10px;
                      border: 1px solid #d0d0d4;
                  }
                  
                  .personal-label,
                  span {
                      margin-bottom: 10px;
                      font-size: 10px;
                  }
                  
                  .px-1 {
                      margin-bottom: 10px;
                  }
                  
                  .title {
                      display: flex
                  }
                  
                  .rows {
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      flex-wrap: nowrap;
                      align-content: flex-end;
                      margin: 30px;
                      justify-content: center;
                  }
                  
                  .radiotext {
                      font-size: 10px;
                      margin-top: 10px;
                      margin-right: 5px;
                  }
                  
                  .boxRadio {
                      margin: 0;
                  }
                  
                  .img-responsive {
                      max-width: 100%;
                  }
                  
                  img {
                      vertical-align: middle;
                      border-style: none;
                  }
                  
                  .fakeUploadImg {
                      background: none !important;
                      padding: 0 !important;
                      margin: auto;
                      text-align: center;
                      display: block;
                  }
                  
                  .sendLead .fakeUpload,
                  .secLead .fakeUpload {
                      background: #0E2754;
                      color: #fff;
                      text-transform: uppercase;
                      text-align: center;
                      line-height: 42px;
                      cursor: pointer;
                      padding: 0 20px;
                      display: inline-block;
                      font-weight: bold;
                  }
                  
                  .sendLead fieldset label,
                  .secLead fieldset label {
                      font-size: 0.8em;
                      color: #434144;
                  }
                  
                  .marTop {
                      margin-top: 20px;
                  }
                  
                  .btn-buy-car {
                      width: 50%;
                      height: 50px;
                      border-radius: 0px;
                      background: #af121e !important;
                      border: none;
                  }
                  
                  .title-page {
                      font-size: 32px;
                      font-weight: 900;
                      margin-top: 30px;
                  }
                  
                  .subtitle-page {
                      font-size: 32px;
                  }