<div class="slider-wrapper">

    <app-ricerca></app-ricerca>

    <div class="main-slider">
        <div class="swiper-container h-100" [swiper]="config">
            <div class="swiper-wrapper h-100">
                <div *ngFor="let slide of listSandbox.bannerList$ | async" class="swiper-slide">
                    <div [attr.data-background]="imagePath + '?path=' + slide.imagePath + '&name=' + slide.image + '&width=1860&height=1860'" class="slide-item swiper-lazy">
                        <div class="mask"></div>
                        <div fxLayout="column" fxLayoutAlign="center center" class="content">

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination white"></div>
        </div>
    </div>

</div>