<section id="why">
    <div class="container-fluid">
        <div class="row-2 justify-content-center">
            <div class="col-xl-12">
                <h2 class="title-whys">PERCHÈ SCEGLIERCI?</h2>
            </div>
            <div class="col-xl-6">
                <p>
                    <b>Passione, esperienza, professionalità</b> e un briciolo di <b>pazzia</b>: Questo è <b>Gruppo Piccirillo</b>. Un‘azienda con un passato importante ma capace di guardare al futuro con un unico grande obiettivo: <b>soddisfare il cliente.</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="wrapService">
                            <img src="../../../../assets/images/shop.png">
                            <h2 class="title-why">SERVIZI VENDITA</h2>
                            <p>Abbiamo preparato per te una serie di servizi pre e post vendita: finanziamenti con tassi agevolati e rateazioni estremamente flessibili; assicurazioni su eventuali guasti dopo l‘acquisto; usato di alta qualità, garantito e
                                certificato e consegna del veicolo in tutta Italia.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="wrapService">
                            <img src="../../../../assets/images/accessorize.png">
                            <h2 class="title-why">CERTIFICAZIONE CRIBIS</h2>
                            <p>A fine 2017, secondo lo studio condotto da Cribis, la percentuale di aziende da considerare eccellenti in termini di affidabilità commerciale ha raggiunto l'8% del totale. Gruppo Piccirillo è una di queste grazie alla certificazione
                                PRIME COMPANY che rappresenta la massima affidabilità commerciale.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="wrapService">
                            <img src="../../../../assets/images/pig.png">
                            <h2 class="title-why">FINANZIAMENTI</h2>
                            <p>Grazie al nostro sistema di finanziamento con rateazioni estremamente flessibili, puoi personalizzare la tua rata! Richiedendo un preventivo, puoi decidere in autonomia la soluzione più comoda per le tue esigenze. </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center margTop">
                    <div class="col-xl-3">
                        <input type="submit" class="btn-info" value="MAGGIORI INFO">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>