.cart-items-count {
    position: absolute;
    top: 0px;
    left: 33px;
    background: orange;
    height: 16px;
    width: 16px;
    line-height: 18px;
    border-radius: 50%;
    font-size: 11px;
    color: white;
}