.hint{
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
    float: right;
}
.products-sub-section {
    margin-top: 0px !important;
  }