<app-sales-count></app-sales-count>
<div class="row products-section view-orders">
    <div class="col-12">
        <div class="breadcrumbs-row noborder">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)"
                            [routerLink]="['/sales/orders']">{{'Sales.Orders.Sales'| translate}} </a></li>
                    <li> {{'Sales.Orders.ViewOrders'| translate}}</li>
                </ul>
            </div>
            <div class="bc-col-btn ap-col-btn">
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
</div>

<div class="row vieworder-wrap" *ngIf="(orderSandbox.viewOrderDetails$ | async) as detail">
    <div class="vs-order-detail" *ngIf="(orderSandbox.viewOrderDetails$ | async) as detail">
  
        <div class="vs-top-head flex vl-details">
    
          <div class="vst-col1">
            <h3>{{detail.orderPrefixId}} <span>{{detail.createdDate | date:'dd-MMM-yyyy:h:mm a'}}</span></h3>
            <div class="vst-col1-rw"> <span>Name</span> {{detail.shippingFirstname}} {{detail.shippingLastname}} </div>
            <div class="vst-col1-rw"> <span>Email</span> {{detail.email}} </div>
            <div class="vst-col1-rw"> <span>Mobile</span> {{detail.telephone}} </div>
          </div>
          <!--col1-->
          <div class="vst-col2">
            <h4>Address</h4>
            <p>{{detail.shippingAddress1}}</p>
            <p>{{detail.shippingAddress2}}</p>
            <p>{{detail.shippingCity}}</p>
            <p>{{detail.shippingZone}}</p>
            <p>{{detail.shippingPostcode}}</p>

          </div>
          <!--Col2-->
          <div class="vst-col3 text-left">
            <h2 style="padding-left: 10px">Total {{detail.currencySymbolLeft}}{{detail.total}} {{detail.currencySymbolRight}}</h2>
          </div>
          <!--Col3-->
          <div class="vst-col4 flex">
            <button class="flex" *ngIf="(orderSandbox.settingDetail$ | async) as setting" (click)="downloadInvoiceDetail(detail, setting)"> <img src="assets/img/Invoicee.png"> Invoice </button>
            <p class="pmt-status">Change Payment Status</p>
            <select (change)="changePayment($event)"  [(ngModel)]='selectedPaidValue'>
                <option selected hidden disabled value="0">--select--</option>
                <option value="1">Paid</option>
                <option value="2">UnPaid</option>
            </select>

          </div>
          <!--Col4-->
    
        </div>
        <!--Head-->
    
        <div class="flex vs-detail">
    
          <div class="vsd-left">
    
            <div class="vsd-card" *ngFor="let subArray of detail?.productList" (click)="getOrderDetails(subArray)" [ngClass]="{'active' : subArray.productId === productDetail.productId}">
                <h3 class="flex"><span [style.background-color]="subArray.statusColorCode">{{subArray?.orderStatusName}}</span> </h3>

                <div class="table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Tax</th>
                        <th class="text-right">Coupon Discount</th>
                        <th class="text-right">Total</th>
                    </tr>

                  <tr >
                    <td width="60px"> <img style="max-width: 100%;
                      max-height: 100%;"
                      [src]="
                        imageUrl +
                        '?path=' +
                        subArray.containerName +
                        '&name=' +
                        subArray.image +
                        '&width=100&height=100'
                      "
                      onError="this.src='/assets/error-images/Load-icon-Products.png';"
                      class="vendor-img"
                    /> </td>
                    <td width="45%">
                      <h4>{{subArray?.name}}</h4>
                      <p>{{subArray?.skuName}}</p>
                      <p>{{subArray?.varientName}}</p>
                    </td>
                    <td class="quantity">{{subArray?.quantity}}</td>
                    <td class="quantity">{{detail.currencySymbolLeft}} {{subArray?.basePrice}} {{detail.currencySymbolRight}}</td>
                    <td class="quantity" *ngIf="subArray?.taxType === 2">{{subArray?.taxValue}}%</td>
                    <td class="quantity" *ngIf="subArray?.taxType !== 2">{{detail.currencySymbolLeft}} {{subArray?.taxValue}} {{detail.currencySymbolRight}}</td>

                    <td class="quantity">{{detail.currencySymbolLeft}} {{subArray?.discountAmount}} {{detail.currencySymbolRight}}</td>
                    
                    <td *ngIf="subArray?.discountedAmount !== null" class="price">{{detail.currencySymbolLeft}} {{subArray?.discountedAmount}} {{detail.currencySymbolRight}}</td>
                    <td *ngIf="subArray?.discountedAmount === null" class="price">{{detail.currencySymbolLeft}} {{subArray?.total}} {{detail.currencySymbolRight}}</td>
  
                </tr>

                </table>
              </div>
            </div>
    
          </div>
          <!--left-->
          <div class="vsd-right">
          <div class="order-status">
            <div class="accordion">
                <div class="option">
                    <input type="checkbox" id="toggle1" class="toggle" />
                         <label class="title" for="toggle1">Order Status History</label>
                    <div class="content">
                        <div class="st-row" >
                            <div class="str-full flex" *ngFor="let log of (orderSandbox.getOrderLogValue$ | async)" [ngClass]="{'disabled' : log.createdDate === ''}">
                                <div class="strf-lft flex">
                                    <img src="assets/img/time.svg"> <span>{{log?.createdDate | date: 'hh:mm aa'}}</span>
                                </div>
                                <div class="strf-rht">
                                    <span class="allocate"></span>
                                    <h3>{{log?.name}} </h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="option">
                    <input type="checkbox" id="toggle2" class="toggle" />
                    <label class="title" for="toggle2"> Order Status Change </label>
                    <div class="content">
                    <div class="os-form">
                        <select class="custom-select col-12" [(ngModel)]="productDetail.orderStatusId"
                        (ngModelChange)="onItemProductChange(productDetail.orderStatusId, productDetail.orderProductId)">
                        <option
                            *ngFor="let data of orderStatusSandbox.getOrderstatuslist$ | async"
                            [value]="data.orderStatusId">{{data.name}}</option>

                    </select>
                      </div>
                    </div>
                </div>
                <!--Order Status Change-->

                <div class="option">
                    <input type="checkbox" id="toggle3" class="toggle" />
                    <label class="title" for="toggle3"> Shipping Information </label>
                    <div class="content">
                        <div class="si-row">
                            <form [formGroup]="shippingForm">
                                <div class="input-group">
                                    <p>Tracking ID</p>
                                    <input type="text" formControlName="id" [ngClass]="{'error-field' : (shippingForm.controls['id'].hasError('required') && shippingForm.controls['id'].touched)}">
                                </div>
                                <!---->
                                <div class="input-group">
                                    <p>Tracking URL</p>
                                    <textarea rows="3" formControlName="url" [ngClass]="{'error-field' : (shippingForm.controls['url'].hasError('required') && shippingForm.controls['url'].touched)}"></textarea>
                                </div>
                                <!---->
                                <div class="flex os-btn"> <button class="ripple" (click)="updateShippingInfo()">
                                    <i *ngIf=""
                                            class="fas fa-spinner fa-spin fa-1x"></i>
                                    Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>



        </div>
          <!--right-->
        </div>
        </div>
        <!--vs-detail-->
    
    </div>
    <!-- Order Wrap -->

</div>