<app-main-carousel></app-main-carousel>
<app-brands-carousel [brands]="listSandbox.manufacturer$ | async"></app-brands-carousel>
<div class="products-tabs justin">


    <div class="content">

        <mat-tab-group mat-stretch-tabs>

            <h2 class="evidece-car">AUTO IN EVIDENZA </h2>
            <mat-tab label="AUTO IN EVIDENZA">
                <app-products-card [products]="listSandbox.featuredList$ | async"></app-products-card>
            </mat-tab>


        </mat-tab-group>

    </div>

</div>

<app-car-park></app-car-park>

<app-why></app-why>

<div class="contents">

    <div class="products-tabs justin">

        <mat-tab-group mat-stretch-tabs>

            <mat-tab label="AFFARI DEL MESE">
                <app-products-carousel [products]="listSandbox.todayDealList$ | async"></app-products-carousel>
            </mat-tab>
        </mat-tab-group>


    </div>
</div>

<ng-container *ngFor="let widget of listSandbox.widgetProductList$ | async">
    <div class="products-tabs justin today-deals">

        <mat-tab-group mat-stretch-tabs>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span>{{widget.widgetTitle}}</span>
                </ng-template>
                <app-widgets-products [products]="widget.items"></app-widgets-products>
            </mat-tab>
        </mat-tab-group>


    </div>
</ng-container>