/* LOGIN VALIDATION*/
.validationcolor {
  border-color: red;

}

.dark-modal .modal-content {
  background-color: #009efb;
  color: white;
}
.error {
  color: red;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.image-manager .modal-dialog {
  max-width: 70%;
}

.brand-img {
  width: 67px;
  height: 63px;
  padding-left: -3%;
  margin-left: -2px
}

.var-top{
  margin-left: 200px !important;
  margin-top: 15px !important;
}
.add-var-wrap{
  margin-left: 218px !important;
  margin-bottom: 160px !important;

}