<mat-dialog-content class="mat-typography">
  <div class="scp-wrap">
      <div class="scp-head">
        <div class="close-btn-outer close-btn">
          <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
      </div>            
      <h3>Contact Seller by adding a few details of your requirement</h3>
      </div>
      <form [formGroup]="quationForm">
      <div class="sq-form">
        <div class="input-group">
          <p>Number of Quantity</p>
          <input type="text" formControlName="quantity">
          <div class="error" *ngIf="quationForm.controls['quantity'].hasError('required') && submitted">
              {{'products.EnterQuantity'|translate}}</div> 
        </div>
        <div class="input-group">
          <p>Quantity Unit</p>
          <div class="avl-opt">
            <mat-form-field>
              <mat-label></mat-label>
              <mat-select  formControlName="unit">
                <mat-option value="" selected hidden disabled> Select Unit </mat-option>
                <mat-option value="Kg"> Kg </mat-option>
                <mat-option value="Piece"> Piece </mat-option>
                <mat-option value="Other"> Other </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="error" *ngIf="quationForm.controls['unit'].hasError('required') && submitted">
                {{'products.SelectUnit'|translate}}</div> 
          </div>
        </div>
        <div class="input-group">
          <p>Total Order Value</p>
          <div class="avl-opt">
            <mat-form-field>
              <mat-label></mat-label>
              <mat-select formControlName="totalOrder">
                <mat-option value=""> Select value </mat-option>
                <mat-option value="Upto 1,000"> Upto 1,000 </mat-option>
                <mat-option value="1,000 to 3,000"> 1,000 to 3,000 </mat-option>
                <mat-option value="3,000 to 10,000"> 3,000 to 10,000 </mat-option>
                <mat-option value="10,000 to 20,000"> 10,000 to 20,000 </mat-option>
                <mat-option value="20,000 to 50,000"> 20,000 to 50,000 </mat-option>
                <mat-option value="50,000 to 1 Lakh"> 50,000 to 1 Lakh </mat-option>
                <mat-option value="1 Lakh to 2 Lakh"> 1 Lakh to 2 Lakh </mat-option>
                <mat-option value="2 Lakh to 5 Lakh"> 2 Lakh to 5 Lakh </mat-option>
                <mat-option value="5 Lakh to 10 Lakh"> 5 Lakh to 10 Lakh </mat-option>
                <mat-option value="10 Lakh to 20 Lakh"> 10 Lakh to 20 Lakh </mat-option>
                <mat-option value="20 Lakh to 50 Lakh"> 20 Lakh to 50 Lakh </mat-option>
                <mat-option value="50 Lakh to 1 Crore"> 50 Lakh to 1 Crore </mat-option>
                <mat-option value="More than 1 Crore"> More than 1 Crore </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="error" *ngIf="quationForm.controls['totalOrder'].hasError('required') && submitted">
                {{'products.SelectOrderValue'|translate}}</div> 
          </div>
        </div>
        <div class="input-group">
          <p>Why do you need this? (Select only one)</p>
          <div class="aopsc-rt">
            <mat-radio-group aria-label="Select an option" formControlName="purpose">
              <mat-radio-button value="1">For Reselling</mat-radio-button>
              <mat-radio-button value="2">For Business Use</mat-radio-button>
              <mat-radio-button value="2">For Home Use</mat-radio-button>
            </mat-radio-group>
            <div class="error" *ngIf="quationForm.controls['purpose'].hasError('required') && submitted">
                Select any one of these.</div> 
          </div>
        </div>
        <div class="input-group">
          <p>Comments</p>
          <textarea rows="4" formControlName="comments"></textarea>
        </div>
      </div>
      <div class="scp-ftr flex">
        <button class="flex spinner-button" style="cursor: pointer" (click)="submit()" [disabled]="(sandbox.makeQuatationLoading$ | async)">
            <mat-spinner diameter="25" *ngIf="sandbox.makeQuatationLoading$ | async"></mat-spinner> <span>{{'account.Submit'|translate}}</span>
        </button>
      </div>
    </form>
    </div>
    <div class="backdrop"></div>
</mat-dialog-content>