<div class="content">
    <div class="row">
        <div class="row">
            <h2 class="title-search">CERCA LA TUA AUTO</h2>
        </div>
        <select name="" id="">MARCA
            <option value=" ">MARCA</option>
        </select>

        <select name="" id="">modello
            <option value=" ">MODELLO</option>
        </select>
        <div class="row">
            <div class="col-2">
                <select class="da" name="" id="">da
                    <option value=" ">DA</option>
                </select>


                <select class="a" name="" id="">a
                    <option value=" ">A</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn-filter" value="FILTRA">
        <a class="advanced-search" href="">Migliora la ricera</a>
    </div>


</div>