<div fxLayoutAlign="center center" class='navcart'>
    <app-top-menu></app-top-menu>
    <button mat-button class="flex-row-button" (click)="viewCartPopup()">
        <mat-icon class="mat-icon-lg">shopping_cart</mat-icon>
        <span *ngIf="(cartSandbox.cartlistCount$ | async) > 0"
            class="cart-items-count">{{cartSandbox.cartlistCount$ | async}}</span>
        <div fxLayout="column" fxLayoutAlign="center center" fxShow="false" fxShow.gt-xs class="top-cart">
            <span *ngIf="(cartSandbox.cartlistCount$ | async) > 0">{{cartSandbox.cartlistCount$ | async}} item<span
                    *ngIf="(cartSandbox.cartlistCount$ | async) > 1">s</span> :
                <span>{{(cartSandbox.totalCartPrice$ | async) | currencysymbol: (listSandbox.symbolSetting$ | async)}}</span>
            </span>
        </div>
        <mat-icon class="mat-icon-sm">arrow_drop_down</mat-icon>
    </button>
</div>