<!-- <h3 class="w-100 text-center py-2">{{'contact.CONTACTUS'|translate}}</h3>

    <div class="divider w-100 mt-2"></div>-->
<section id="singleAuto" class="about" wfd-id="294">
    <div class="container-fluid" wfd-id="295">
        <div class="row" wfd-id="296">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-10 offset-1" wfd-id="297">
                <div class="row rowTitle align-items-center" wfd-id="300">
                    <div class="col-xl-12 col-12" wfd-id="301">
                        <h1 class="title-page">COMPRIAMO LA TUA AUTO</h1>
                    </div>
                </div>
                <div class="row" wfd-id="298">
                    <div class="col-xl-12" wfd-id="299">
                        <h2 class="subtitle-page">Hai deciso di cambiare auto? Il tuo usato lo acquistiamo noi!</h2><br>
                        <p>La nostra <strong>missione aziendale</strong> è <strong>soddisfare sempre il nostro cliente</strong>, e per questo acquistiamo la tua auto anche in sole 24 ore. E un' importante sottolineare che la nostra è una vera
                            <strong>offerta</strong>, probabilmente inferiore rispetto a quanto potreste realizzare vendendo l'auto ad un privato, ma è <strong>reale, garantita e sicura</strong>.</p>
                        <br>
                        <p>Diffidate dalle quotazioni generate da software automatici e algoritmi. </p>
                        <br>
                        <p><strong>Gruppo Piccirillo vuole solo il meglio per te.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>