<div class="subtoolbar servicetoolbar">
    <div class="sub-nav-menu" >
        <a href="javascript:void(0)" [routerLink]="['/services/servicesList']" [routerLinkActive]="'active'">
            <img src="assets/img/header-icons/service-list.svg">Services List
        </a>
        <a href="javascript:void(0)" [routerLink]="['/services/servicesCategory']" [routerLinkActive]="'active'">
            <img src="assets/img/header-icons/service-categories.svg"> {{'catalog.nav.Categories'| translate}}
        </a>
        <a href="javascript:void(0)" [routerLink]="['/services/enquiry']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'list-service-enquiry'">
            <img src="assets/img/header-icons/service-enquiry.svg"> Enquiry
        </a>
        <a href="javascript:void(0)" [routerLink]="['/services/leads']" [routerLinkActive]="'active'"  [appHideIfUnauthorized]="'list-service-lead'">
            <img src="assets/img/header-icons/service-leads.svg"> Leads
        </a>
    </div>
</div>
