<h3 class="services-title"> <a href=""> {{currentCategory}} </a> > <span>{{serviceDetail?.title}}</span></h3>

<div class="mob-ser-detail flex">

    <div class="msd-img"> 
        <img *ngIf="serviceDetail && !serviceDetail.serviceImage" [src]="'./assets/images/default_image.png'">
        <img  *ngIf="serviceDetail && serviceDetail?.serviceImage" [src]="imageUrl + '?path=' + serviceDetail?.serviceImage?.containerName + '&name=' + serviceDetail?.serviceImage?.image + '&width=150&height=80'"
        onError="this.src='/assets/images/default_image.png';"> 
    </div>

    <div class="msd-content">

        <h3>{{serviceDetail?.title}}</h3>

        <p>{{serviceDetail?.description}}</p>

        <div class="flex detil-row">

            <div class="detail-col">
                <h4>Phone Number</h4>
                <p>{{serviceDetail?.mobile}}</p>
            </div>

            <div class="detail-col">
                <h4>Status</h4>
                <p>{{serviceDetail?.isActive === 1 ? 'Active' : 'In-Active'}}</p>
            </div>

        </div>

        <a href="javascript:void(0)" (click)="openEnquiryDialog(serviceDetail)" class="enquire-now">Enquire Now</a>

    </div>

</div>