<div class="flex orders-placed-search">

    <div class="so-col flex">
        <input type="text">
        <button mat-raised-button type="button">Search Orders</button>
    </div>

</div>

<div class="buyagain-row flex">

    <div class="order-list-row">
        <div class="olr-content flex">
            <div class="olrc-lft">
                <div class="olrcl-prd flex">
                    <div class="olrcl-prd-img"> <img src="assets/images/others/prd2.jpg"> </div>
                    <div class="olrcl-rht">
                        <h3>Ahira® M3 Smart Band with OLED Sweatproof Waterproof Touchscreen Fitness Activity Tracker Steps Calories Burnt Counter with Live Heart Rate/BP</h3>
                        <h4>$510.00</h4>
                        <button mat-raised-button> Add to Cart </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order-list-row">
        <div class="olr-content flex">
            <div class="olrc-lft">
                <div class="olrcl-prd flex">
                    <div class="olrcl-prd-img"> <img src="assets/images/others/prd2.jpg"> </div>
                    <div class="olrcl-rht">
                        <h3>Ahira® M3 Smart Band with OLED Sweatproof Waterproof Touchscreen Fitness Activity Tracker Steps Calories Burnt Counter with Live Heart Rate/BP</h3>
                        <h4>$510.00</h4>
                        <button mat-raised-button> Add to Cart </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>