.btn {
  background:  #3585ed !important;
}


.prod_filter {
  padding: 1px 5px !important;
}
.form-group{
    margin-bottom: 2rem !important;
    margin-left: 1rem !important;
}

.filter-details {
  width: 232px;
  padding: 10px;
  border-right: solid thin #ddd;
}