<div class="flex setting2-inner-header">
    <h3> {{'Settings.Local.StockStatus.Settingspath' | translate}} </h3>
    <button class="btn" (click)="addStockStatus()" [appHideIfUnauthorized]="'create-stock-status'"><img
            src="assets/img/add-white-ico.png"> {{'Settings.Local.StockStatus.AddStockStatus' | translate}}
    </button>
</div>
<div class="settings-right-wrapper">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'Settings.Local.StockStatus.StockStatusName' | translate}}</th>
                    <th>{{'Settings.Local.StockStatus.Status' | translate}}</th>
                    <th [appHideIfUnauthorized]="'edit-stock-status' || 'delete-stock-status'">{{'Settings.Local.StockStatus.Action' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stocklist of (sandBox.getStockList$|async); let i=index">
                    <td>{{stocklist.name}}</td>
                    <td>
                        <div *ngIf="stocklist.isActive === 1">{{'Settings.Local.StockStatus.Active' | translate}}</div>
                        <div *ngIf="stocklist.isActive === 0">{{'Settings.Local.StockStatus.InActive' | translate}}</div>
                    </td>

                    <td [appHideIfUnauthorized]="'edit-stock-status' || 'delete-stock-status'"><i [appHideIfUnauthorized]="'edit-stock-status'" (click)="editStockStatus(stocklist)" class="fas fa-edit" style="cursor:pointer"></i> <i [ngbPopover]="deleteContent" [appHideIfUnauthorized]="'delete-stock-status'" placement="bottom" #deletePop="ngbPopover" style="margin-left: 15px;cursor:pointer" class="fas fa-trash">
                    <ng-template #deleteContent>
                        <div class="style">
                            <div class="modal-header">
                                <h6 class="modal-title" style="margin-left: 17%;"> Do you want to delete ?</h6>

                            </div>

                            <div class="modal-footer" style="margin-right: 23%;">
                                <button type="button" class="btn btn-danger" (click)="deletePop.close()"
                                        data-dismiss="modal">No
                                </button>
                                <button type="button" class="btn btn-success"
                                        (click)="deleteStockStatus(stocklist.stockStatusId, deletePop)"
                                        data-dismiss="modal">Yes
                                </button>
                            </div>
                        </div>
                    </ng-template>

                </i></td>

                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [length]="(sandBox.getStockListCount$ | async)?.data" [pageSize]="pagesize" [pageSizeOptions]="[pagesize]" (page)="onPageChange($event)">
    </mat-paginator>
</div>