<section id="preventivo" wfd-id="197">
    <div class="container-fluid" wfd-id="198">
        <div class="row" wfd-id="199">
            <div class="col-xl-10 offset-xl-1" wfd-id="200">

                <div class="row" wfd-id="201">
                    <div class="col-xl col-lg-3 col-md-6" wfd-id="206">
                        <a href="" class="bluButt req_appuntamento">RICHIEDI APPUNTAMENTO</a>
                    </div>
                    <div class="col-xl col-lg-3 col-md-6" wfd-id="205">
                        <a href="" class="bluButt req_call">CHIAMACI</a>
                    </div>
                    <div class="col-xl col-lg-3 col-md-6" wfd-id="204">
                        <a href="" class="bluButt req_whatsapp">CHATTA SU WHATSAPP</a>
                    </div>
                    <div class="col-xl col-lg-3 col-md-6" wfd-id="203">
                        <a href="preventivo.html" class="redButt buttSendPrev">RICHIEDI IL PREVENTIVO</a>
                    </div>

                    <div class="col-xl col-lg-3 col-md-6" wfd-id="202">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>