<div class="prd-detail-cnt">

    <h3>Specifications</h3>


    <div class="row" *ngFor="let list of groupAttribute; let group = index" >
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value ">
            {{item.attributeName}}
        </div>
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value " >
            {{item.text}}
        </div>
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value ">
            {{item.attributeName}}
        </div>
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value ">
            {{item.text}}
        </div>
    </div>

    <!--Tabella -->
   <!-- <ng-container *ngFor="let list of groupAttribute; let group = index">
        <table class="table spec-table" cellpadding=" 0 " cellspacing="0 ">
            <tr>
                <th colspan="2">{{list.group}}</th>
            </tr>
            <tr *ngFor="let item of list.value ">
                <td class="attribute-name " fxFlex="100" fxFlex.gt-sm="33.3">{{item.attributeName}}</td>
                <td class="attribute-text " fxFlex="100" fxFlex.gt-sm="33.3">{{item.text}}</td>
            </tr>

        </table>
    </ng-container>-->
    
</div>