<div class="prd-detail-cnt">

    <!-- <div class="row" *ngFor="let list of groupAttribute; let group = index" >
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value ">
            {{item.attributeName}}
        </div>
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value " >
            {{item.text}}
        </div>
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value ">
            {{item.attributeName}}
        </div>
        <div style="width: 25%; float: left; display: inline;" *ngFor="let item of list.value ">
            {{item.text}}
        </div>
    </div>-->

    <!--Tabella -->
    <ng-container *ngFor="let list of groupAttribute; let group = index">
        <table class="table spec-table" cellpadding=" 0 " cellspacing="0 ">
            <tr class="title-sheet">
                <th colspan="2">{{list.group}}</th>
            </tr>
            <div class="att-cont">

                <tr class="grupp-att" *ngFor="let item of list.value ">
                    <div class="att-name">
                        <td class="attribute-name td-dark" fxFlex="" fxFlex.gt-sm="">{{item.attributeName}}</td>
                        <td class="attribute-text td-light" fxFlex="" fxFlex.gt-sm="">{{item.text}}</td>
                    </div>
                </tr>

            </div>
        </table>
    </ng-container>

</div>