.top-menu {
    float: right;
    background: #cccccc;
    margin-bottom: 6px;
    height: 20px;
}

.top-menu a {
    background: #cccccc;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 31px;
    padding: 5px;
    min-width: 70px;
    border-radius: 0;
    border-right: solid thin rgba(112, 112, 112, 0.5);
}

.app {
    border: none !important;
    img {}
}