* {
    font-family: 'Poppins', sans-serif;
}

.footer {
    min-height: 100px;
    padding: 16px 16px 0;
    background: #211f1f !important;
    .subscribe-block {
        padding: 16px 0 32px 0;
        text-align: center;
        h1,
        h3 {
            line-height: 1;
        }
        h1 {
            margin-bottom: 6px;
        }
        .subscribe-search-form {
            height: 50px;
            padding: 0 16px;
            input[type=text] {
                border: 0;
                outline: none;
                padding: 0 25px;
                font-size: 16px;
            }
            button {
                font-size: 16px;
                padding: 0 24px;
                border-radius: 0;
            }
        }
    }
    .col-title {
        font-weight: 600;
    }
    .mat-icon {
        height: 21px;
        line-height: 21px;
    }
    .link {
        cursor: pointer;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .copyright {
        font-size: 13px;
        font-weight: 300;
    }
    .useful-links {
        p {
            display: inline-block;
            width: 20%;
            margin-right: -4px;
        }
    }
    .copyright {
        padding: 5px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .footer .subscribe-block {
        .subscribe-search-form {
            height: 40px;
            margin-top: 16px;
            input[type=text] {
                padding: 0 8px;
                font-size: 14px;
            }
            button {
                font-size: 14px;
                padding: 0 16px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .footer .subscribe-block {
        .subscribe-search-form {
            margin-top: 16px;
        }
    }
}

.sebm-google-map-container {
    height: 220px;
}

.android-img {
    max-height: 85%;
    max-width: 11%;
    cursor: pointer;
}

.android-div {
    width: 100%;
    text-align: center;
}

.white-color {
    color: white;
}

.ftr-row {
    padding: 0 1rem;
    background: #211f1f !important;
}

.ftr-top {
    padding-top: 35px;
    color: white;
    padding-bottom: 35px;
}

.ftr-btm {
    padding-bottom: 20px;
    justify-content: space-between!important;
    margin-top: 10px;
    p {
        color: white;
        a {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.theme-container {
    max-width: unset !important;
}

footer,
.box-checkout {
    background-color: #001121 !important;
}

footer {
    background: #000000;
    color: #fff;
    padding-top: 50px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.logoFooter {
    margin-bottom: 20px;
}

.img-responsive {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

footer p {
    color: #fff;
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer ul li a {
    color: #fff;
    font-size: 20px;
}

@media (min-width: 1200px) {
    .col-xl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

#social {
    background-color: #51030C !important;
}

#social {
    background: #51030C;
    padding: 5px 0;
}

#social ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

#social ul li {
    display: inline;
}

#social ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
}