<footer>



    <div class="container-fluid" wfd-id="7">
        <div class="row justify-content-center" wfd-id="8">
            <div class="col-xl-10" wfd-id="9">
                <div class="row" wfd-id="10">
                    <div class="col-xl-3 col-lg-4 col-md-4" wfd-id="27">
                        <img src="../Allegati/Loghi/logo-footer.png" class="img-responsive logoFooter">
                        <p>Gruppo Piccirillo S.p.A. <br>Piazza Madonna delle Grazie, 40 <br>81040 &nbsp;CURTI &nbsp;CE <br>0823.84.79.11 &nbsp; <br></p>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4" wfd-id="19">
                        <ul wfd-id="20">
                            <li wfd-id="26"><a href="parco.jsp?m_zSite=GRPIC">PARCO VEICOLI</a></li>

                            <li wfd-id="25"><a href="servizi.jsp?m_zSite=GRPIC">SERVIZI E ACCESSORI</a></li>
                            <li wfd-id="24"><a href="km0.jsp?m_zSite=GRPIC">KM0</a></li>
                            <li wfd-id="23"><a href="promo.jsp?m_zSite=GRPIC">AFFARI DEL MESE</a></li>
                            <li wfd-id="22"><a href="permute.jsp?m_zSite=GRPIC">COMPRIAMO AUTO</a></li>
                            <li wfd-id="21"><a href="faq.jsp?m_zSite=GRPIC">FAQ</a></li>


                        </ul>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4" wfd-id="13">
                        <ul wfd-id="14">
                            <li wfd-id="18"><a href="shop.jsp?m_zSite=GRPIC">HOME</a></li>
                            <li wfd-id="17"><a href="azienda.jsp?m_zSite=GRPIC">CHI SIAMO</a></li>

                            <li wfd-id="16"><a href="academy.jsp?m_zSite=GRPIC">ACADEMY</a></li>
                            <li wfd-id="15"><a href="https://news.gruppopiccirillo.it/">BLOG</a></li>

                        </ul>
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12" wfd-id="11">
                        <div class="linkPolicies" wfd-id="12">
                            <a href="privacy_policy.jsp?m_zSite=GRPIC" title="Privacy Policy">Privacy Policy</a>
                            <a href="termini-condizioni.jsp?m_zSite=GRPIC" title="Termini e Condizioni ">Termini e Condizioni</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="social" wfd-id="0">
        <div class="container-fluid" wfd-id="1">
            <div class="row" wfd-id="2">
                <div class="col-xl-12" wfd-id="3">
                    <ul wfd-id="4">
                        <li wfd-id="6"><a href="https://it-it.facebook.com/gruppopiccirillo" class="fb">Facebook</a></li>
                        <li wfd-id="5"><a href="https://www.instagram.com/gruppopiccirillo/?hl=it" class="inst">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer> 
<!-- Vecchio footer
   <div class="theme-container ftr-row">
        <div class="ftr-top flex">
            <div class="ftr-col" *ngFor="let list of  listSandbox.pageList$ | async">
                <h3>{{list.groupName | uppercase}}</h3>
                <div class="ftr-links">
                    <ng-container *ngFor="let item of list.page">
                        <a href="javascript:void(0)" [routerLink]="['/page-detail', item.slugName]">
                            {{item.title}}
                        </a>
                    </ng-container>
                    <ng-container *ngIf="list.groupName === 'Customer Experience'">
                        <a href="javascript:void(0)" [routerLink]="['/track-order']">Track Order</a>
                    </ng-container>
                </div>
            </div>
            <div class="ftr-col ftr-col-addr" *ngIf="(listSandbox.settingDetail$ | async) as contact">
                <h3>{{'Shared.CONTACTINFORMATION'|translate}}</h3>
                <div class="ftr-links">
                    <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 ">
                        <mat-icon class="mr-1">location_on</mat-icon>
                        <span>{{contact.storeAddress}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 ">
                        <mat-icon class="mr-1">call</mat-icon>
                        <span>{{contact.storeTelephone}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 ">
                        <mat-icon class="mr-1">mail_outline</mat-icon>
                        <span class="email">{{contact.storeEmail}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 ">
                        <mat-icon class="mr-1">schedule</mat-icon>
                        <span>{{'Shared.DateTime'|translate}}</span>
                    </p>
                </div>
            </div>
            <div class="ftr-col ftr-col-addr" fxFlex="100" fxFlex.gt-sm="20" ngClass.sm="mt-2" ngClass.xs="mt-2" *ngIf="(listSandbox.settingDetail$ | async) as contact">
                <h3 class="col-title">{{'Shared.SOCIALMEDIA'|translate}}</h3>
                <div class="ftr-links-social flex">
                    <a href="javascript:void(0)" (click)="openLink(contact.facebook)"><img src="assets/images/others/facebook.png"></a>
                    <a href="javascript:void(0)" (click)="openLink(contact.twitter)"><img src="assets/images/others/twitter.png"></a>
                    <a href="javascript:void(0)" (click)="openLink(contact.google)"><img src="assets/images/others/google+.png"></a>
                </div>
            </div>
            <div class="android-div">
                <img class="android-img" src="assets/images/others/android.png" (click)="downloadApp()">
            </div>

            col 
        </div>-->


    <!--   <div class="ftr-btm flex">
            <p>
                © Copyright 2020 Piccosoft Software Labs India Pvt Ltd. All Rights Reserved.
                <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=4tpTsrfganjZ23O45uaG3YZd7Ie6Hr6YBBHZvpPD5ZeBmPtzjQn3WN3G6rAV"></script></span>
            </p>
            <p>Powered by <a href="https://spurtcommerce.com" target="_blank">spurtcommerce</a>.</p>
        </div>
    </div>-->