<mat-card fxLayout="row wrap" fxLayoutAlign="space-between" >
  <form [formGroup]="checkoutForm" novalidate style="width:100%">

  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2 billing-address">

    <h2 class="text-dark">Fill your information</h2>

    <div class="ba-row">

      <div class="flex custom-field mb-2">
        <input type="text" placeholder="First Name" formControlName="firstName"
        [ngClass]="{'validation-border-color': checkoutForm.controls['firstName'].errors && submitted}">
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['firstName'].hasError('required')&&submitted">
            {{'Error.FirstNameIsRequired'|translate}}
        </mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['firstName'].hasError('minlength')">{{'Error.FirstNameMinimumLength'|translate}}</mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['firstName'].hasError('maxlength')">{{'Error.FirstNameMaximumLength'|translate}}</mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['firstName'].hasError('pattern')">{{'Error.NameMustBeString'|translate}}</mat-error>
      </div>
      <div class="flex custom-field mb-2">
        <input type="text" placeholder="Last Name" formControlName="lastName"
        [ngClass]="{'validation-border-color': checkoutForm.controls['lastName'].errors && submitted}">
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['lastName'].hasError('required')&&submitted">
            {{'Error.LastNameIsRequired'|translate}}
        </mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['lastName'].hasError('maxlength')">{{'Error.FirstNameMaximumLength'|translate}}</mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['lastName'].hasError('pattern')">{{'Error.NameMustBeString'|translate}}</mat-error>
      </div>
      <div class="flex custom-field mb-2">
        <input type="text" placeholder="Email" formControlName="email"
        [ngClass]="{'validation-border-color': checkoutForm.controls['email'].errors && submitted}">
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['email'].hasError('required')&&submitted">
            {{'Error.EmailIsRequired'|translate}}
        </mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['email'].hasError('invalidEmail')&&submitted">
            {{'Error.EmailMustBeValid'|translate}}
        </mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['email'].hasError('maxlength')">{{'Error.EmailMaximumLength'|translate}}</mat-error>

      </div>
      <div class="flex custom-field mb-2">
        <input type="text" placeholder="Phone" appOnlyNumber formControlName="phone"
        [ngClass]="{'validation-border-color': checkoutForm.controls['phone'].errors && submitted}">
        <mat-error class="validation-error" *ngIf="(checkoutForm.controls['phone'].hasError('required')&&submitted)||(checkoutForm.controls['phone'].hasError('pattern')&&submitted)">
            {{'Error.PhoneIsRequired'|translate}}
        </mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['phone'].hasError('maxlength')">{{'Error.MobilNumberMaximumLength'|translate}}</mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['phone'].hasError('minlength')">{{'Error.MobilNumberMinimumLength'|translate}}</mat-error>
      </div>
      <div class="flex custom-field mb-2" *ngIf="createAccount">
          <input type="text" type="password" formControlName="setPassword" placeholder="{{'checkout.Password'|translate}}" [ngClass]="{'validation-border-color': checkoutForm.controls['setPassword'].errors && submitted}">
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['setPassword'].hasError('required') && submitted">{{'Error.PasswordisRequired'|translate}}</mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['setPassword'].hasError('minlength')">{{'Error.PasswordMustEightLetter'|translate}}</mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['setPassword'].hasError('hasCapitalCase')">{{'Error.PasswordMustContainCapitalCase'|translate}}</mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['setPassword'].hasError('hasSmallCase')">{{'Error.PasswordMustContainSmallCase'|translate}}</mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['setPassword'].hasError('hasNumber')">{{'Error.PasswordMustContainNumberOrSymbol'|translate}}</mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['setPassword'].hasError('maxlength')">{{'Error.PasswordMaximumLength'|translate}}</mat-error>
      </div>

      <div class="flex crt-act" *ngIf="!hideAddress">
        <div fxLayout="column">
          <mat-checkbox color="primary" *ngIf="((commonSandbox.getProfileValid$ | async)!=true || (authSandbox.userTokenValid$ | async)!=true)" (change)="accountCreated($event)">Create Account</mat-checkbox>
        </div>
      </div>
      <ng-container *ngIf="showAddresses==true">

      <h2 class="text-dark">Address</h2>
      <div class="flex custom-field mb-2">
        <input type="text" placeholder="Address (street,apartment,suite,unit,etc)" formControlName="address" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/"
        [ngClass]="{'validation-border-color': checkoutForm.controls['address'].errors && submitted}">
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['address'].hasError('required')&&submitted">
            {{'Error.AddressIsRequired'|translate}}
        </mat-error>
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['address'].hasError('maxlength')">{{'Error.AddressMaximumLength'|translate}}</mat-error>

      </div>
      <div class="flex custom-field mb-2">
        <input type="text" placeholder="Address Line 1" formControlName="addressLine"
        [ngClass]="{'validation-border-color': checkoutForm.controls['addressLine'].errors && submitted}">
        <mat-error class="validation-error" *ngIf="checkoutForm.controls['addressLine'].hasError('maxlength')">{{'Error.AddressMaximumLength'|translate}}</mat-error>

      </div>
      <div class="flex custom-field mb-2">
        <div class="width-inline">
          <input type="text" placeholder="City"  formControlName="city"
          [ngClass]="{'validation-border-color': checkoutForm.controls['city'].errors && submitted}">
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['city'].hasError('required')&&submitted">
              {{'Error.CityIsRequired'|translate}}
          </mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['city'].hasError('maxlength')">{{'Error.AddressMaximumLength'|translate}}</mat-error>

        </div>
        <div class="width-inline">
          <input type="text" placeholder="State/Province" formControlName="state"
          [ngClass]="{'validation-border-color': checkoutForm.controls['state'].errors && submitted}">
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['state'].hasError('required')&&submitted">
              {{'Error.StateIsRequired'|translate}}
          </mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['state'].hasError('maxlength')">{{'Error.AddressMaximumLength'|translate}}</mat-error>

        </div>
      </div>
      <div class="flex custom-field mb-2">
        <div class="width-inline">
          <input type="text" placeholder="Zip/Postal Code"  appOnlyNumber formControlName="zip"
          [ngClass]="{'validation-border-color': checkoutForm.controls['zip'].errors && submitted}">
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['zip'].hasError('required')&&submitted">
              {{'Error.ZipIsRequired'|translate}}
          </mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['zip'].hasError('maxlength')">{{'Error.PostalCodeMaximumLength'|translate}}</mat-error>
          <mat-error class="validation-error" *ngIf="checkoutForm.controls['zip'].hasError('minlength')">{{'Error.PostalCodeMinimumLength'|translate}}</mat-error>
        </div>
        <div class="width-inline">
            <select formControlName="country" [ngClass]="{'validation-border-color': checkoutForm.controls['country'].errors && submitted}">
                <option value="">{{'checkout.selectCountry'|translate}}</option>
                <option *ngFor="let list of listSandbox.countryList$ | async" [value]="list.countryId">
                    {{list.name}}
                </option>

            </select>
            <mat-error class="validation-error" *ngIf="checkoutForm.controls['country'].hasError('required')&&submitted">
                {{'Error.CountryIsRequired'|translate}}
            </mat-error>
        </div>
      </div>
    </ng-container>

    <!-- if customer already added adress, that is showing here -->
    <ng-container *ngIf="(accountSandbox.getCustAddressList$| async)?.length > 0">
        <h2 *ngIf="hideAddress" class="text-dark select-address">Select a shipping address <a href="javascript:void(0)" (click)="addNewAddress()"> + Add new address </a> </h2>
    </ng-container>
    
      
            <div class="address" *ngIf="hideAddress">
              <ng-container *ngIf="(accountSandbox.getCustAddressList$| async)?.length > 0">
                  <mat-radio-group aria-label="Select an option">
                      <mat-radio-button [class.add-atv]="address.addressId === activeAdressId" *ngFor="let address of accountSandbox.getCustAddressList$| async;let i=index" (change)="selectAddress($event.value)" [value]="address">
                        <h4 *ngIf="address.addressType==0">Home</h4>
                        <h4 *ngIf="address.addressType==1">Work</h4>
                        <p>{{address.address1}} {{address.address2}} {{address.city}} {{address.state}} {{address.postcode}}</p><span class="add-edt" (click)="editAddress(address)">Edit</span>
                      </mat-radio-button>
                  </mat-radio-group>
                  <mat-error *ngIf="checkoutForm.controls['address'].hasError('required')&&submitted&&newAddress">
                    Select one of these address.
                </mat-error>
              </ng-container>

              <ng-container *ngIf="(accountSandbox.getCustAddressList$| async)?.length === 0">
                  <button (click)="addNewAddress()" style="cursor: pointer"> Add a Shipping Address </button>
                  <mat-error *ngIf="checkoutForm.controls['address'].hasError('required')&&submitted&&newAddress">
                      Please add your shipping address first.
                  </mat-error>
              </ng-container>
            </div>
    </div>

  </div>
  <!---->
  <div fxFlex="100" fxFlex.gt-sm="50" class="pt-2" ngClass.sm="mt-2" ngClass.xs="mt-2" ngClass="billing-address">
    <h2 class="text-dark">Product count - {{(productControlSandbox.backorderProduct$ | async)?.productCount}}</h2>
    <div class="item-table">
      <table class="table" cellspacing="0" cellpadding="0">
        <tr *ngIf="(productControlSandbox.backorderProduct$ | async) as products">
            <td>
                <img *ngIf="products.image && products.containerName !== ''" [src]="imagePath + '?path=' + products.image.containerName + '&name=' + products.image.image + '&width=60&height=60'" onError="this.src='/assets/images/load_products.png';">
                <img *ngIf="products.image && products.containerName === ''" [src]="imagePath + '?path=' + products.containerName + '&name=' + products.image + '&width=60&height=60'" onError="this.src='/assets/images/load_products.png';">
                <img *ngIf="products.Images" [src]="imagePath + '?path=' + products['Images'].containerName + '&name='+ products['Images'].image + '&width=60&height=60'" onError="this.src='/assets/images/load_products.png';">
                <div *ngIf="products.productImage ">
                    <div *ngFor='let prodectDetailsImage of products.productImage'>
                        <img *ngIf="prodectDetailsImage.defaultImage === 1" [src]="imagePath + '?path=' + prodectDetailsImage.containerName + '&name=' + prodectDetailsImage.image + '&width=60&height=60'" onError="this.src='/assets/images/load_products.png';">
                    </div>
                </div>
                <img [src]="imagePath + '?path=' + products.productImage.containerName + '&name=' + products.productImage.image + '&width=60&height=60'" *ngIf="products.productImage && !products.productImage.length" onError="this.src='/assets/images/load_products.png';">
            </td>          
            <td>
              <a  class="product-name">{{products.name}}</a>
              <p class="product-subname">SKU <span>{{products?.skuName}}</span>
            </td>
          <td>
            <div class="id-rw flex">
              <button mat-icon-button matTooltip="Remove" (click)="changeCount(products, false)"><mat-icon>remove</mat-icon></button>
              <span> {{products.productCount}} </span>
              <button mat-icon-button matTooltip="Add" (click)="changeCount(products, true)"><mat-icon>add</mat-icon></button>
            </div>
          </td>
          <td class="text-right" style="color: red">
              <ng-container *ngIf="(products.pricerefer) && (products.pricerefer != '')">
                  {{(calculatePrice(products._totalOptions + products.pricerefer, products.taxType, products.taxValue) * products.productCount).toFixed(2) | currencysymbol: (listSandbox.symbolSetting$ | async)}}
              </ng-container>
              <ng-container *ngIf="(products.pricerefer == '')">
                  {{(calculatePrice(products._totalOptions + products.price, products.taxType, products.taxValue) * products.productCount).toFixed(2) | currencysymbol: (listSandbox.symbolSetting$ | async)}}
              </ng-container>
              <ng-container *ngIf="!(products.pricerefer) && products.productPrice">
                  {{(calculatePrice(products._totalOptions + products.price, products.taxType, products.taxValue) * products.productCount) | currencysymbol: (listSandbox.symbolSetting$ | async)}}  
              </ng-container>
          </td>
          <!-- <td class="text-right"><a href="javascript:void(0)" class="close-btn-outer" (click)="removeProduct(products)"> x </a> </td> -->
        </tr>
      
        <tr class="total">
          <td class="left-txt" colspan="2"> Delivery Charges </td>
          <td class="text-right del-free" colspan="2"> Free </td>
          <td></td>
        </tr>
        <tr class="total" *ngIf="productControlSandbox.totalCartPrice$">
          <td class="left-txt" colspan="2"> Total </td>
          <td class="text-right" colspan="2">{{(productControlSandbox.backorderTotal$ | async) | currencysymbol: (listSandbox.symbolSetting$ | async)}}</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="place-order flex" *ngIf="(productControlSandbox.backorderProduct$ | async) as products">
      <button style="cursor:pointer" (click)="placeOrder(products)">
          <i *ngIf="productControlSandbox.backorderCheckoutLoading$ | async" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        Place order</button>
    </div>
  </div>
</form>

</mat-card>