<section id="finanz" wfd-id="207">
    <div class="container-fluid" wfd-id="208">
        <div class="row" wfd-id="209">

            <div class="offset-xl-2 col-xl-8" wfd-id="210">
                <div class="row" wfd-id="222">
                    <div class="col-xl-12" wfd-id="223">
                        <h1 class="overTextEv">PERSONALIZZA IL TUO FINANZIAMENTO</h1>
                    </div>
                </div>
                <div class="row" wfd-id="211">
                    <div class="col-xl-3 col-lg-3 col-md-3" wfd-id="220">
                        <label wfd-id="221">Anticipo €:</label>
                        <input type="text" id="fin_acconto" class="overTextEv" disabled="" value="" wfd-id="506">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3" wfd-id="217">
                        <label wfd-id="219">Somma finanziata €:</label>
                        <select id="fin_importo" class="overTextEv" onchange="Sel_FIN( )" wfd-id="218"></select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3" wfd-id="214">
                        <label wfd-id="216">Nr Rate:</label>
                        <select id="fin_nrate" class="overTextEv" onchange="Sel_RAT( )" wfd-id="215"></select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3" wfd-id="212">
                        <label wfd-id="213">Rata €:</label>
                        <input type="text" disabled="" value="das" id="fin_rata" class="rata overTextMain" wfd-id="505">
                    </div>
                </div>
                <hr>
                <p class="text">compreso spese pratica. Si precisa che l anticipo e il finanziamento agevolato possono essere personalizzati senza nessun obbligo.</p>
            </div>
        </div>
    </div>
</section>